h1{
   /*↓ one important*/
   border-style: dashed;
   /* ↑  is important*/
    /*You can styke each side differently*/
    border-top-style: double;
   
   border-color: rgb(87, 197, 135);
   /*But you can also set color for each side*/
   border-top-color: aqua;

   border-width:7px;
   /*You can also set the size*/
   border-top-width: 12px;

   opacity:50%;


   /*Or you can write all three as    WIDTH,STYLE,COLOR*/
}
